/*global.sass*/
.color_footer
  background: #383CA3
  color: #ffffff

.color_footer
  a
    color: #ffffff
    text-decoration: none

.color_footer
  a
    hover
      color: #2C2f7C

.margenes-footer
  margin: 50px 50px 0px 50px !important

@media screen and (max-width: 1200px)
  .margenes-footer
    margin: 0px 0px 0px 0px
    padding: 0px 0px 0px 30px
