@font-face {
    font-family: myFirstFont;
    src: url(fontawesome-webfont.woff);
}

body{
    background: lightgoldenrodyellow;
    font-family: myFirstFont;
}

.loginArea{
    margin-left: 100px;
    margin-top: 5%;
}

.loginArea .card-header{
    background: white;
}

.carouselCustom{
    margin: 2%;
}

.imgCarou{
    height: 500px;
    width: 100%;
}

.divCarou{
    height: 500px;
    width: 100%;
    background: black;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}

.Home h1{
    margin-top: 2%;
}

.cardImg{
    height: 275px;
    width: 275px;
}

.cardCustom{
    border: darkgrey solid 1px !important;
    background: darkseagreen;
}

.color_footer{
    background: #373C42;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 10000;
}

.footerManual{
    color: white;
}

.container{
    margin-bottom: 100px !important;
}


.registerImg, .loginImg{
    float: right;
}

.infoRegister{
    margin: 1%;
}

.customNav{
    border-left: white solid 1px;
}

.loader{
    height: 20px;
    width: 20px;
}